// flex
@mixin flex($jc: space-between, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

// grid
@mixin grid($gap: 0, $jc: flex-start, $ai: stretch) {
  display: grid;
  gap: $gap;
  justify-content: $jc;
  align-items: $ai;
}

// parallex effect
@mixin parallex-bg($URL) {
  background-image: url($URL);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
