// general styles

$global-transition: 150ms color linear, 200ms background-color ease-in-out,
  150ms width linear, 200ms border-color linear, transform 200ms linear,
  margin 220ms linear, 150ms opacity linear, 150ms box-shadow linear;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $global-transition;

  &::selection {
    background-color: $primary-color;
    color: $white;
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: $dark;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;

  @include responsive-small {
    font-size: 16px;
  }

  &.dark-theme {
    background-color: $dark-body;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  @include flex(space-between, center);
  background-color: $primary-color;
  color: $white;
  text-decoration: none;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  max-width: fit-content;
  padding: 10px 15px;
  border: 2.3px solid transparent;
  border-radius: 3px;

  @include responsive-small {
    padding: 5px;
  }

  &-transparent {
    box-shadow: none !important;
    border: none;
    background-color: transparent;

    &:hover .btn__text {
      text-decoration: underline;
    }

    .btn__icon {
      color: $primary-color;
    }

    .btn__text {
      color: $primary-color;
    }
  }

  &:hover {
    transform: translatey(-4px);
    background-color: $white;
    border-color: $primary-color;
    color: $dark;
  }

  &__icon {
    width: 23px;
    height: 23px;
  }

  &__text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    user-select: none;
    font-size: 16px;
  }
}
