.hero__section {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  height: 100vh;

  .section-container {
    position: relative;
    padding: 70px 10px;
    text-align: center;

    @include responsive-medium {
      padding: 60px 10px;
    }
  }

  .title {
    font-weight: 700;
    color: $primary-color;
    font-size: 46px;
    margin-bottom: 35px;
    letter-spacing: -1px;
    word-spacing: -5px;

    @include responsive-medium {
      font-size: 32px;
      margin: 17px;
    }
  }

  .description {
    font-size: 24px;
    max-width: 400px;
    margin: 10px auto;
    line-height: 30px;
    font-weight: 500;
    color: $dark;

    @include dark-theme {
      color: $white;
    }

    @include responsive-medium {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive-small {
      max-width: 270px;
    }

    a {
      color: $primary-color;
    }
  }

  .background-icon {
    z-index: -1;
    user-select: none;
    color: $gray-light;
    width: 100%;
    height: 90%;
    position: absolute;
    transition: none;
    opacity: 0.5;

    @include responsive-medium {
      height: 60%;
    }

    @include dark-theme {
      color: $gray-dark;
      opacity: 0.2;
    }

    &.bg-react {
      top: 70%;
      left: -47%;
      transform: translateY(50%);

      @include responsive-medium {
        top: 20%;
      }
    }

    &.bg-firebase {
      top: 70%;
      left: 50%;
      transform: translateY(-50%);

      @include responsive-medium {
        top: 20%;
      }
    }
  }

  .btn-container {
    @include flex(center, center);
    margin: 30px auto;
    gap: 15px;

    @include responsive-medium {
      margin: 25px auto;
    }
  }
}
